// Aside divs
aside,
.aside {
  background-color: $back-white;
  border-radius: 5px;
  @include light-para(15px);
  margin: -20px 0 20px 0;
  padding: 0px 20px 0px 20px;
  line-height: 1.6 !important;
  margin-left: 30px;

  p {
    @include light-para(15px);
    line-height: 1.6 !important;
  }

  pre {
    font-size: 12px;
    border: none;
    padding-left: 0;
  }
}

@media (min-width: 1280px) {
  aside,
  .aside {
    float: right;
    clear: right;
    background-color: $back-white;
    max-width: 45% !important;
    margin-right: -52%;

    &::before {
      content: "";
    }
  }
}
