figure,
.figure {
  text-align: center;
  img {
    max-width: calc(720px + 45%);

    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }
  figcaption {
    .figure-number {
      @include light-meta();
    }
    margin-top: 10px;
    @include light-para(15px);
  }
}

img.zoomTarget:hover {
  cursor: default !important;
}
