// Headings for the post and index pages

// Default face and margins
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: $title-font;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 60px;
}

// Override sizes
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.6rem;
}
h5,
h6,
h7 {
  font-size: 1.5rem;
}

// Section numbers
.section-number-1,
.section-number-2,
.section-number-3,
.section-number-4,
.section-number-5,
.section-number-6,
.section-number-7 {
  @include light-meta();
  font-family: $title-font;
  color: $back-medium;
}

.section-number-1 {
  font-size: 1.5rem;
}

.section-number-2 {
  font-size: 1.3rem;
}

.section-number-3,
.section-number-4,
.section-number-5,
.section-number-6,
.section-number-7 {
  font-size: 1.2rem;
}

// #+TITLE
h1.title {
  font-size: 3rem;
}

.subtitle {
  text-align: unset;
  font-size: 1rem;
  font-weight: unset;
  margin-top: 2rem;
  font-family: $title-font;
}
