img.logo-fixed {
  position: fixed;
  top: 3rem;
  left: 1rem;
  width: 140px;
  cursor: unset;

  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

img.logo-bottom {
  max-width: 200px;
}
