// Org export specific styling

#org-div-home-and-up,
pre.src:hover::before {
  display: none !important;
}

.timestamp,
.timestamp-kwd {
  @include light-meta();
}

.todo,
.done {
  @include tag();
  font-weight: bold;
}

.todo {
  color: #ee3333;
}

.done {
  color: $text-light;
}

.tag {
  background: white;
}

.tag > span {
  @include tag();
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100px;
  border-style: dashed;
}

.priority {
  color: $text-light;
  font-family: $code-font;
}
